vaadin-login-form.adminPanelButton vaadin-button[theme~="submit"]{
    --lumo-primary-color: #FFE500;
}

vaadin-vertical-layout[class~="login-view"]{
    --lumo-bg-color: #FFE500;
}

.mainPageProductElementPlaceholder {
    background-color: #EDEDED;
    border: 1px solid #878181;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}


.boldSpan > div > span{
    font-weight: bold;
    font-size: 20px;
}

.containImg > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: fill;
}

.mainPageProductElementPlaceholder:hover{
    background-color: #ddd;
}

.PCLayout{
    padding-left: 30%;
    padding-right: 30%;
}

.userCell{
    border: 1px solid #878181;
    border-radius: 15px;
}

.trans03s{
    transition: 0.3s;
}

.trans03s:hover{
    background-color: #ddd;
}

.mainPageProductBodyPlaceholder{
    border: 2px solid #878181; /* Solid border with the specified color */
    border-radius: 15px;
    display: flex;
}

vaadin-grid.force-focus-outline::part(focused-cell)::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color-50pct);
}